<h1>Add New List</h1>
<%= form_for @listing, url: listing_create_path do |form| %>
	<%= render partial: '/listing/form', object: form %>

	<div class="submit-field">
		<%= form.submit %>
	</div>
<% end %>