<h1>Edit your profile</h1>
<%= form_for @user, url: users_update_path(params[:id]) do |form| %>
	<%= render partial: '/users/form2', object: form %>

	<div class="submit-field">
		<%= form.submit %>
	</div>
<% end %>